@import 'bootstrap';
@import 'font-awesome';
@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700';

/* ============ Colors ============ */

$body-color: #FFF;
$subtitle-color: #999999;
$line-color: #DDD;

$blur-size: 50px;
$nav-height: 60px;
$carousel-height: 600px;

/* ============ General ============ */

body {
	font-family: "Soho Gothic W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: $body-color;
	color: #575757;
	margin-top: $nav-height;
}

.anchor {
	position: relative;
	top: -50px;
}

/* ============ Utilities ============ */

.center {
	text-align: center;
}

/* ============ Typography ============ */

p {
	font-size: 16px;
	font-weight: 300;
	line-height: 2em;
}

li {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8em;
}

h1, h2, h3 {
	font-family: inherit;
	font-weight: 300;
}

h1 {
	color: #000;
	font-size: 45px;
}

h1.big {
	font-size: 60px;
}

/* ============ Top image ============ */

#jumbo {

	height: $carousel-height;
	width: 100%;

	.carousel-inner {
		height: $carousel-height;
	}

	#top-blur, #bottom-blur {
		position: absolute;
		width: 100%;
		height: $blur-size;
		z-index: 1000;
	}

	#top-blur {
		top: 0;

		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

	#bottom-blur {
		bottom: 0;

		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

	.item {
		width: 100%;
		height: 100%;

		background-position: center center;

		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.carousel-indicators {
		bottom: $blur-size + 10px;
	}

	.carousel-control {
		background-image: none;
		opacity: 1.0;

		span {
			font-size: 60px;
			margin-top: -30px;
		}

		img {
			margin-top: ($carousel-height / 2) - 65;
		}
	}
}

/* ============ Navigation ============ */

nav {

	z-index: 2000;
	width: 100%;
	//height: $nav-height;
	line-height: $nav-height - 4px;
	position: fixed;
	top: 0;

	background-color: $body-color;

	.btn {
		border-radius: 20px;

		&:hover {
			color: #FFF;
		}
	}

	.container {
		border-bottom: 1px solid $line-color;
	}

	#brand {
		display: inline-block;
		font-size: 150%;
		font-weight: bold;
		text-decoration: none;
		float: left;
	}

	ul {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		padding: 0 15px;
	}

	a, a:hover {
		color: #000;
	}

}

/* ============ Blocks ============ */

.colorful {
	color: #FFF;

	h1, h2, h3 {
		color: inherit;
	}

	a, a:hover {
		color: inherit;
	}
}

.block {

	padding-top: 40px;
	padding-bottom: 40px;

	h1:first-child, .row h1 {
		margin-bottom: 30px;
		margin-top: 0;
	}

	h1 + h2 {
		color: $subtitle-color;
		margin-bottom: 30px;
		margin-top: -10px;
	}

	p, ul {
		margin-bottom: 20px;
	}

	p:last-child, ul:last-child {
		margin-bottom: 0;
	}

}

.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

#content {

	$color: #fafafa;
	$location: 75px;

	.block {

		border-top: 1px solid #f7f7f7;
		background: $color; /* Old browsers */
		background: -moz-linear-gradient(top,  $color 0%, #ffffff $location, #ffffff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e1e0), color-stop($location,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  $color 0%,#ffffff $location,#ffffff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  $color 0%,#ffffff $location,#ffffff 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  $color 0%,#ffffff $location,#ffffff 100%); /* IE10+ */
		background: linear-gradient(to bottom,  $color 0%,#ffffff $location,#ffffff 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


		hr {
			border-top-color: darken(#CCC, 10);
			width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.block:first-child {
		background: none;
		filter: none;
		border-top: 0;
	}

	img {
		max-width: 100%;
		border-radius: 5px;
	}

}

/* ============ Media queries ============ */

@media screen and (max-width: 992px) {

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

/* ============ Newsletter ============ */

#newsletter {

	p {
		text-align: center;
	}

	#mailbox {
		background-color: #FFF;
		border-radius: 5px;
		padding: 4px;
		max-width: 500px;
		margin: auto;
	}

	input, button {
		font-size: 18px;
		font-weight: 300;
		border: 0;
	}

	input {
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-top: 16px;
	}

	.btn {
		color: #FFF;
		padding: 10px 20px;
	}

	.input-group-addon {
		padding: 0;
		background-color: transparent;
		border: 0;
	}

}

/* ============ Map ============ */

#map {

	height: 350px;

}

/* ============ Social ============ */

#social {

	padding: 20px 0;
	text-align: center;

	.container > a {
		text-decoration: none;
	}

	i {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 5px 20px 5px;

		font-size: 150%;
		border: 2px solid #FFF;
		border-radius: 25px;
		line-height: 50px;
	}

}
