@import 'bootstrap';
@import 'font-awesome';

/* ============ Colors ============ */

$body-color: #FFF;
$font-color: #575757;
$subtitle-color: #999999;
$line-color: #DDD;

$font-normal: "Soho Gothic W01 Light";
$font-bold: "Soho Gothic W01 Regular";

$blur-size: 50px;
$nav-height: 60px;
$carousel-height: 600px;

/* ============ General ============ */

body {
	font-family: $font-normal, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: $body-color;
	color: $font-color;
	margin-top: $nav-height;
	font-size: 16px;
	line-height: 1.8em;
}

.anchor {
	position: relative;
	top: -50px;
}

strong, b {
	font-family: $font-bold;
}

/* ============ Utilities ============ */

.center {
	text-align: center;
}

/* ============ Typography ============ */

p {
	font-weight: 300;
	line-height: 2em;
}

li {
	font-weight: 300;
	line-height: 1.8em;
}

h1, h2, h3, h4 {
	font-family: inherit;
	font-weight: 300;
}

h1 {
	color: #000;
	font-size: 45px;
}

h1.big {
	font-size: 60px;
}

/* ============ Top image ============ */

#jumbo {

	height: $carousel-height;
	width: 100%;

	.carousel-inner {
		height: 100%;
	}

	#top-blur, #bottom-blur {
		position: absolute;
		width: 100%;
		height: $blur-size;
		z-index: 1000;
	}

	#top-blur {
		top: 0;

		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

	#bottom-blur {
		bottom: 0;

		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

	.item {
		width: 100%;
		height: 100%;

		background-position: center center;

		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.carousel-indicators {
		bottom: $blur-size + 10px;
	}

	.carousel-control {
		background-image: none;
		opacity: 1.0;

		span {
			font-size: 60px;
			margin-top: -30px;
		}

		img {
			top: 50%;
			position: absolute;
			margin-top: -65px;
		}
	}
}

/* ============ Navigation ============ */

nav {

	z-index: 2000;
	width: 100%;
	//height: $nav-height;
	line-height: $nav-height - 4px;
	position: fixed;
	top: 0;

	background-color: $body-color;

	.btn {
		// Gradient
		$start-color: rgba(255,255,255,0.3); // light
		$end-color: rgba(0,0,0,0.2); // dark
		background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  $start-color 0%, $end-color 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  $start-color 0%, $end-color 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  $start-color 0%, $end-color 100%); /* IE10+ */
		background: linear-gradient(to bottom,  $start-color 0%, $end-color 100%); /* W3C */

		// Shadow
		$shadow-blur: 5px;
		$shadow-size: 1px;
		$shadow-opacity: 0.15;
		-webkit-box-shadow: 0 0 $shadow-blur $shadow-size rgba(0,0,0,$shadow-opacity);
		box-shadow: 0 0 $shadow-blur $shadow-size rgba(0,0,0,$shadow-opacity);

		// Border
		border: 1px solid $end-color;
		border-radius: 20px;

		&:hover {
			color: #FFF;

			// Gradient
			$start-color: opacify($start-color, 0.05); // light
			$end-color: opacify($end-color, 0.05); // dark
			background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  $start-color 0%, $end-color 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  $start-color 0%, $end-color 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  $start-color 0%, $end-color 100%); /* IE10+ */
			background: linear-gradient(to bottom,  $start-color 0%, $end-color 100%); /* W3C */
		}
	}

	.container {
		border-bottom: 1px solid $line-color;
	}

	#brand {
		display: inline-block;
		font-size: 150%;
		text-decoration: none;
		float: left;
		font-family: $font-bold;
	}

	ul {
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		padding: 0 15px;
	}

	a, a:hover {
		color: #000;
	}

}

/* ============ Blocks ============ */

.colorful {
	color: #FFF;

	h1, h2, h3 {
		color: inherit;
	}

	a, a:hover {
		color: inherit;
	}
}

.block {

	padding-top: 40px;
	padding-bottom: 40px;

	h1 {
		margin-bottom: 30px;
	}

	h2 {
		color: $subtitle-color;
		margin-bottom: 25px;
	}

	// h2 after h1
	h1 + h2 {
		margin-top: -10px;
	}

	// very first header in column
	div[class*='col-'] > h1:first-child, div[class*='col-'] > h2:first-child, div[class*='col-'] > h3:first-child div[class*='col-'] > h4:first-child {
		margin-top: 0;
	}

	p, ul {
		margin-bottom: 20px;
	}

	// last paragraph or list
	p:last-child, ul:last-child {
		margin-bottom: 0;
	}

}

.anchor {
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

#content .block, #content + #reservations {

	$color: #fafafa;
	$location: 75px;

	border-top: 1px solid #f7f7f7;
	background: $color; /* Old browsers */
	background: -moz-linear-gradient(top,  $color 0%, #ffffff $location, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop($location,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $color 0%,#ffffff $location,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $color 0%,#ffffff $location,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $color 0%,#ffffff $location,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $color 0%,#ffffff $location,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

#content {

	hr {
		border-top-color: $line-color;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	// disable gradient style for first block
	.block:first-child {
		background: none;
		filter: none;
		border-top: 0;
	}

	img {
		max-width: 100%;
		border-radius: 5px;
	}

	// add some spacing between multiple rows
	.block .row {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

}

/* ============ Media queries ============ */

@media screen and (max-width: 992px) {

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

/* ============ Newsletter ============ */

#newsletter {

	h1, p {
		text-align: center;
	}

	#mailbox {
		background-color: #FFF;
		border-radius: 5px;
		padding: 4px;
		max-width: 500px;
		margin: auto;
	}

	input, button {
		font-size: 18px;
		font-weight: 300;
		border: 0;
	}

	input {
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-top: 16px;
	}

	.btn {
		color: #FFF;
		padding: 10px 20px;
	}

	.input-group-addon {
		padding: 0;
		background-color: transparent;
		border: 0;
	}

}

/* ============ Map ============ */

#map {

	height: 450px;

}

/* ============ Social ============ */

#social {

	padding: 20px 0;
	text-align: center;

	.container > a {
		text-decoration: none;
	}

	i {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 5px 20px 5px;

		font-size: 150%;
		border: 2px solid #FFF;
		border-radius: 25px;
		line-height: 50px;
	}

}

/* ============ Reservations ============ */

#reservations {

	h1, h2, #things {
		text-align: center;
	}

	.done {
		opacity: 0.5;
		transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
	}

	#things {

		.label {
			cursor: pointer;
			margin: 0 3px;
		}
	}

	#datepicker, #timepicker, #details {

		margin-top: 60px;
		display: none;

		h2 {
			padding-bottom: 20px;
		}

	}

	#datepicker {
		text-align: center;

		input {
			width: 130px;
			text-align: center;
			background-color: $subtitle-color;
			font-size: inherit;
			padding: 10px 0;
			color: #FFF;
			border-radius: .25em;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		::-webkit-input-placeholder {
		    color: #ccc;
		}
		:-moz-placeholder {
		    color: #ccc;
		}
		::-moz-placeholder {
		    color: #ccc;
		}
		:-ms-input-placeholder {
		    color: #ccc;
		}
	}

	#timepicker {
		text-align: center;

		#bar {
			background-color: $line-color;
			height: 20px;
			width: 100%;
			margin: auto;
			position: relative;

			span {
				background-color: #333;
				height: 100%;
				display: block;
				position: absolute;
				opacity: 0.75;
			}

			.selection {
				z-index: 100;
				opacity: 0.75;
				transition: opacity .25s ease-in-out;
				-moz-transition: opacity .25s ease-in-out;
				-webkit-transition: opacity .25s ease-in-out;
			}

			.disabled {
				$light-color: $body-color;
				$dark-color: $line-color;

				background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $dark-color), color-stop(0.25, $dark-color), color-stop(0.25, $light-color), color-stop(0.5, $light-color), color-stop(0.5, $dark-color), color-stop(0.75, $dark-color), color-stop(0.75, $light-color));
				background-image: -webkit-linear-gradient(left bottom, $dark-color 0%, $dark-color 25%, $light-color 25%, $light-color 50%, $dark-color 50%, $dark-color 75%, $light-color 75%);
				background-image: -moz-linear-gradient(left bottom, $dark-color 0%, $dark-color 25%, $light-color 25%, $light-color 50%, $dark-color 50%, $dark-color 75%, $light-color 75%);
				background-image: -ms-linear-gradient(left bottom, $dark-color 0%, $dark-color 25%, $light-color 25%, $light-color 50%, $dark-color 50%, $dark-color 75%, $light-color 75%);
				background-image: -o-linear-gradient(left bottom, $dark-color 0%, $dark-color 25%, $light-color 25%, $light-color 50%, $dark-color 50%, $dark-color 75%, $light-color 75%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-colorccc', endColorstr='$light-colorbbb',GradientType=0 );
				background-image: linear-gradient(left bottom, $dark-color 0%, $dark-color 25%, $light-color 25%, $light-color 50%, $dark-color 50%, $dark-color 75%, $light-color 75%);
				background-size: 25px 25px;
				opacity: 1;
			}
		}

		#labels {

			width: 100%;
			margin: auto;
			margin-top: 5px;
			position: relative;

			span {
				display: block;
				position: absolute;
				font-size: 10px;
				margin-left: -15px;
			}
		}

		#selection {
			margin-top: 50px;

			input {
				border: 1px solid $line-color;
				border-radius: 5px;
				padding: 5px 10px;
				margin-left: 5px;
				margin-right: 5px;
				width: 75px;
				text-align: center;
			}
		}
	}

	#details {
		text-align: center;

		textarea, input {
			border: 1px solid $line-color;
			border-radius: 5px;
			padding: 5px 10px;
			margin-bottom: 10px;
		}

		label {
			width: 200px;
			text-align: right;
			margin-left: -150px;
		}

		input {
			margin-left: 5px;
		}

		textarea {
			width: 400px;
			height: 75px;
		}

		button {
			margin-top: 20px;
			font-size: 150%;
			padding: 5px 20px;

			&:hover, &:focus {
				color: #CCC;
			}
		}

		#message {

			margin-top: 30px;

			&.success {
				color: green;
			}

			&.error {
				color: red;
			}

		}

	}

	.label {
		text-align: center;
		background-color: $subtitle-color;
		font-size: inherit;
		padding: 10px 20px;
		color: #FFF;
	}

}

/* ============ Datepicker ============ */

#ui-datepicker-div {
	background-color: #FFF;
	border: 1px solid $line-color;
	border-radius: 5px;
	padding: 10px 15px;
	opacity: 1;
	z-index: 1000 !important;
	display: none;

	.ui-datepicker-title {
		text-align: center;
		font-family: $font-bold, sans-serif;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.ui-icon-circle-triangle-e {
		float: right;
		content: '\279C';
	}

	.ui-icon {
		cursor: pointer;
		color: $subtitle-color;
	}

	td a {
		display: block;
		padding: 3px;
		text-align: center;
		color: $subtitle-color;
		font-size: 90%;
		text-decoration: none;
		border: 1px solid transparent;
		line-height: 1.2em;

		&:hover {
			border: 1px solid $line-color;
			border-radius: 5px;
			color: $font-color;
		}

		&.ui-state-highlight {
			color: $font-color;
			font-family: $font-normal, sans-serif;
		}

		&.ui-state-active {
			color: $font-color;
			font-family: $font-normal, sans-serif;
			border: 1px solid $line-color;
			border-radius: 5px;
		}
	}
}

